# Archivos y carpetas generados automáticamente
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates
*.vspx
*.log


# Archivos de publicación o compilación
*.Publish.xml
*.pubxml
*.publishproj

# Configuración específica del IDE (Visual Studio)
.vscode/
.vs/
.idea/
*.csproj.user
*.csproj.DotSettings

# Archivos de dependencias locales
packages/
*.nupkg
project.lock.json

# Archivos de seguridad sensibles
secrets.json

# Archivos de logs y temporales
*.log
*.temp
*.tmp
*.bak
*.swp

# Archivos del sistema operativo
Thumbs.db
.DS_Store
*.~lock.*
